<!doctype html>
<html lang="fr">
  <head>
  	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>
  <body>
    <h1>{{name}}</h1>
    {{ nav }}
  </body>
</html>